.about__title {
  text-align: center;
}

.about__text {
  font-family: $font-firasans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  text-align: center;
  color: #484848;
  width: 700px;
  margin: 24px auto 0;
}