.about {
  background-image:  url("../../img/about-color_bg.jpg");
  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ce9b9b;
}

.about__title {
  text-align: center;
  margin-top: 0;
}

.about__text {
  font-family: $font-firasans;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  text-align: center;
  color: #484848;
  width: 700px;
  margin: 24px auto 0;
}

@media #{$desktop} {
  
} 

@media #{$tablet} {
  
} 

@media #{$mobile} {
  .about__text {
    width: 100%;
    font-size: 16px;
    line-height: 160%;
  }
} 