.btn {
  font-family: $font-firasans;
  background: $gradient;
  padding: 19px 5px;
  box-sizing: border-box;
  border: 0;
  border-radius: 80px;
  text-align: center;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  outline: none;

  &:hover {
    background: linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
  }

}
