.btn {
  font-family: $font-firasans;
  background: $gradient;
  border-radius: 80px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 19px 5px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  &:hover {
    background: linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
  }
}
