.checkbox-container {
  width: 264px;
  display: flex;
  margin: 16px auto 0;
}

.checkbox-container__input {
  margin-right: 8px;
}

.checkbox-container__label {
  width: 264px;
  padding-left: 24px;
  box-sizing: border-box;
  font-family: $font-firasans;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}
