.contacts {
  margin: 90px 0 0;
  font-family: $font-firasans;
  /* background-image: url(../../img/contacts-color_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.contacts .wrapper {
  padding: 0 0 58px 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url(../../img/contacts-color_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.contacts__title {
  margin-top: 0;
}

.contacts__location {
  margin-top: 51px;
  padding-left: 22px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.contacts__city {
  text-transform: uppercase;
  font-weight: 500;
  font-variant: small-caps;
  display: inline-block;
  border-bottom: 1px dashed #1FC0FC;
  margin-left: 13px;
}

.contacts__curator-container {
  display: flex;
  align-items: center;
  width: 480px;
}

.contacts__curator-bottom {
  width: 480px;
  margin-top: 0;
}

.contacts__data {
  margin-left: 24px;
  width: 250px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.contacts__data-title {
  color: #1FC0FC;
}

.contacts__data-status {
  margin-top: 25px
}

.contacts__data-address {
  margin-top: -3px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.contacts__social {
  margin-top: -2px;
  margin-left: -5px;
}

.contacts__curator-bottom {
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: rgba(72, 72, 72, 0.87);
}

.contacts__right-container {
  width: 702px;
  height: 448px;
  position: relative;

  &::before {
    @include pseudo;
    width: 18px;
    height: 28px;
    background-image: url(../../img/contacts-icon_marker.svg);
    top: 52%;
    right: 23.5%;
  }
}

.contacts__map-pic {
  max-width: 100%;
}

.contacts__bottom-container {
  margin-top: 70px;
  display: flex;
}

.contacts__text {
  width: 360px;
  margin-right: 16px;
}

.contacts__text-important {
  display: inline-block;
  margin-top: 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.87);
}

.contacts__text-bottom {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.5);
}

.contacts__form-input {
  width: 250px;
  margin-right: 21px;
}

.contacts__btn {
  width: 216px;
}
