.contacts {
  margin-top: 81px;
  padding-bottom: 96px;
  font-family: $font-firasans;
  background-image: url(../../img/contacts-color_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts .wrapper {
  padding: 0 0 0 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__title {
  margin-top: 0;
}

.contacts__location {
  padding-left: 18px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.contacts__city {
  text-transform: uppercase;
  font-weight: 500;
  font-variant: small-caps;
  display: inline-block;
  border-bottom: 1px dashed #1FC0FC;
  margin-left: 16px;
}

.contacts__curator-container {
  display: flex;
  align-items: center;
  width: 480px;
}

.contacts__curator-bottom {
  width: 480px;
  margin-top: 0;
}

.contacts__data {
  margin-left: 24px;
  width: 250px;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.contacts__data-title {
  color: #1FC0FC;
}

.contacts__data-address {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
}

.contacts__curator-bottom {
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: rgba(72, 72, 72, 0.87);
}

.contacts__right-container {
  width: 702px;
  height: 448px;
  position: relative;

  &::before {
    @include pseudo;
    width: 18px;
    height: 28px;
    background-image: url(../../img/contacts-icon_marker.svg);
    top: 51%;
    right: 23%;
  }
}

.contacts__bottom-container {
  margin-top: 64px;
  display: flex;
}

.contacts__text {
  width: 360px;
  margin-right: 14px;
}

.contacts__text-important {
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.87);
}

.contacts__text-bottom {
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.5);
}

.contacts__form-input {
  width: 250px;
  margin-right: 24px;
}

.contacts__btn {
  width: 216px;
}
