.drive {
  font-family: $font-firasans;
  overflow: hidden;
}

.drive .wrapper {
  padding: 209px 0 133px;
  overflow: visible;
  position: relative;

  &::before {
    @include pseudo;
    background-image: url("../img/drive-bag.png");
    width: 220px;
    height: 262px;
    top: 134px;
    left: -185px;
    z-index: -1;
  }

  &::after {
    @include pseudo;
    background-image: url("../img/drive-bg.jpg");
    width: 818px;
    height: 594px;
    top: 0;
    right: -112px;
    z-index: -2;
  }
}

.drive__title {
  margin: 0 0 0 98px;
}

.drive__description {
  margin: 26px 0 0 98px;
  width: 400px;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: $color-black;
  opacity: 0.87;
}

.drive__form {
  margin: 64px 0 0 98px;
  width: 479px;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  justify-content: space-between;
}

.drive__form-input {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.055em;
  border: none;
  border-radius: 80px;
  background: #FFFFFF;
  text-transform: uppercase;
  padding: 20px 50px 15px 38px;
  color: $color-black;
  opacity: 0.5;
  cursor: pointer;
  outline: 0;

  &:focus {
    outline: 0;
  }

  &:invalid:not(:placeholder-shown) {
    border: 2px solid #FF0000;
  }

  &:valid:not(:placeholder-shown)  {
    border: 2px solid $color-black;
  }
}

.drive__btn {
  width: 216px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.05em;
  padding: 20px 5px 15px 5px;
}

@media #{$tablet} {
  .drive .wrapper {
    text-align: center;
    padding: 50px 0 383px;

    &::before {
      background-image: url("../img/drive-bag-m.png");
      width: 158px;
      height: 188px;
      left: -50px;
      top: 65px;
    }

    &::after {
      top: 15px;
    }
  }

  .drive__description {
    width: auto;
    margin-left: 0;
  }

  .drive__form {
    width: 380px;
    margin: 24px auto 0;
  }

  .drive__form-input {
    padding: 19px 15px 19px 30px;
  }
}

@media #{$mobile} {
  .drive .wrapper {
    padding: 38px 16px 306px;

    &::before {
      background-image: url("../img/drive-bag-m.png");
      width: 158px;
      height: 188px;
      left: -55px;
      top: -12px;
    }

    &::after {
      background-image: url("../img/drive-bg-m.jpg");
      width: 424px;
      height: 308px;
      top: auto;
      right: auto;
      left: -52px;
    }
  }

  .drive__title {
    text-align: center;
    margin: 0;
    font-size: 32px;
    line-height: 39px;
  }

  .drive__description {
    margin: 25px 0 0;
    width: auto;
    font-size: 16px;
    line-height: 160%;
  }

  .drive__form {
    width: 288px;
    margin: 0 auto;
    border: none;
    flex-direction: column;
  }

  .drive__form-input {
    margin-top: 25px;
    border: 2px solid #E3E3E3;
    border-radius: 80px;
    letter-spacing: 0.04em;
    width: 100%;
  }

  .drive__btn {
    margin: 8px auto 0;
    width: 264px;
    letter-spacing: 0.04em;
  }
}
