.drive {
  /* background-image: url("../../img/drive-bg.jpg"), url("../../img/drive-bag.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, center left;
  background-size: auto, auto; */
  font-family: $font-firasans;
}

.drive .wrapper {
  background-image: url("../../img/drive-bg.jpg"), url("../../img/drive-bag.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top 8px right, top 144px left;
  background-size: auto, auto;
  padding: 185px 0 131px 210px;
  padding-left: 210px;
}

.drive__title {
  margin-bottom: 0;
}

.drive__description {
  margin-top: 24px;
  width: 400px;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: #484848;
  opacity: 0.87;
}

.drive__form {
  margin-top: 64px;
  width: 477px;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  justify-content: space-between;
}

.drive__form-input {
  line-height: 20px;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  padding: 19px 40px 19px 40px;
  color: #484848;
  opacity: 0.5;

  &:focus {
    outline: 0;
  }
}

.drive__btn {
  width: 216px;
}

@media #{$desktop} {

  .drive .wrapper {
    padding: 50px 50px 570px 50px;
    background-position: bottom center, top 15% left;
  }

  .drive__title {
    text-align: center;
  }

  .drive__description {
    text-align: center;
    width: auto;
  }

  .drive__form {
    margin: 40px auto 0;
  }
}
