.drive {
  background-image: url("../../img/drive-bg.jpg"), url("../../img/drive-bag.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, top 135px left;
  background-size: auto, auto;
  padding: 209px 0 133px;
  font-family: $font-firasans;
}

.drive .wrapper {

}

.drive__title {
  margin: 0 0 0 98px;
}

.drive__description {
  margin: 26px 0 0 98px;
  width: 400px;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: $color-black;
  opacity: 0.87;
}

.drive__form {
  margin: 64px 0 0 98px;
  width: 477px;
  border: 2px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 80px;
  display: flex;
  justify-content: space-between;
}

.drive__form-input {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  padding: 19px 40px 19px 40px;
  color: $color-black;
  opacity: 0.5;

  &:focus {
    outline: 0;
  }
}

.drive__btn {
  width: 216px;
  font-size: 14px;
}

@media #{$tablet} {
  .drive {
    padding: 70px 0 410px;
    background-position: bottom center, top 60px left;
    background-size: 600px, auto;
  }

  .drive .wrapper {
    text-align: center;
  }

  .drive__description {
    width: auto;
    margin-left: 0;
  }

  .drive__form {
    width: 380px;
    margin: 24px auto 0;
  }

  .drive__form-input {
    padding: 19px 15px 19px 30px;
  }
}
