.faq {
  margin-top: 55px;
  padding: 90px 0 0px;
  background-image: url("../img/faq-color_bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
}

.faq .wrapper {
  position: relative;
  overflow: visible;
  padding-bottom: 115px;
  padding-left: 15px;

  &::after {
    @include pseudo;
    content: url("../img/faq-bag.png");
    left: -153px;
    bottom: -20px;
  }

  &::before {
    @include pseudo;
    background-image: url("../img/faq-bg.jpg");
    width: 645px;
    height: 803px;
    right: -112px;
    top: -2px;
  }
}

.faq__title {
  margin: 0;
}

.faq__list {
  margin: 31px 580px 0 0;
  padding: 0;
  list-style: none;
  max-width: 560px;
}

.faq__list-item {
  position: relative;
  font-family: $font-firasans;
  max-width: 100%;
  min-height: 72px;
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);
  position: relative;
  box-sizing: border-box;
  margin-top: 24px;

  &:hover {
    cursor: pointer;
  }

  &--high {
    min-height: 89px;
  }
}

.faq__list-open {
  @include pseudo;
  outline: none;
  font-size: 0;
  border: none;
  padding: 0;
  right: 44px;
  top: 20px;
  background: transparent;
  cursor: pointer;
  width: 15px;
  height: 10px;

  &::before,
  &::after {
    @include pseudo;
    width: 2px;
    height: 11px;
    top: 0;
    background-color: #1FC0FC;
  }

  &::before {
    left: 2px;
    transform: rotate(-45deg);
  }

  &::after {
    left: 9px;
    transform: rotate(45deg)
  }
}

.faq__list-item--open .faq__list-open {
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.faq__list-title {
  width: 73.2%;
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #484848;
}

.faq__list-description {
  display: none;
  width: 85.7%;
  align-items: baseline;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: $color-black;
  opacity: 0.74;
}

.faq__list-item--open .faq__list-description {
  display: block;
}

.faq__list-number {
  display: inline-block;
  margin-right: 12px;
  font-weight: bold;
  font-size: 28px;
  line-height: 170%;
  color: $color-yellow;
}

@media #{$tablet} {
  .faq {
    padding-top: 0;
    background: #ffffff;
  }

  .faq .wrapper {
    padding-left: 0;

    &::after {
      left: -130px;
      bottom: 20px;
    }

    &::before {
      background: none;
    }
  }

  .faq__title {
    text-align: center;
  }

  .faq__list {
    margin: 0 auto;
  }
}

@media #{$mobile} {
  .faq {
    padding: 29px 0 0;
    background: #ffffff;
  }

  .faq .wrapper {
    padding: 0 16px;

    &::after {
      left: -48px;
      bottom: 54px;
    }

    &::before {
      background: none;
    }
  }

  .faq__title {
    text-align: center;
  }

  .faq__list {
    width: 100%;
    margin: 0 auto;
  }

  .faq__list-item {
    min-height: 64px;

    &::before {
      right: 3px;
    }

    &::after {
      right: 9px;
    }
  }

  .faq__list-title {
    width: auto;
    padding-right: 24px;
    font-size: 16px;
    line-height: 160%;
  }

  .faq__list-description {
    width: 92%;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 160%;
  }

  .faq__list-number {
    margin-right: 11px;
  }
}
