.faq {
  margin-top: 25px;
}

.faq .wrapper {
  padding: 113px 0 100px 110px;
  display: flex;
  justify-content: space-between;
  background-image: url(../../img/faq-bag.png), url(../../img/faq-color_bg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, top;
  background-size: auto, cover;
}

.faq__left {
  width: 44.58%;
}

.faq__title {
  margin-top: 0;
}

.faq__right {
  width: 51.35%;
  height: 803px;
  overflow: hidden;
  //background-image: url("../../img/faq-bg.jpg");
  //background-repeat: no-repeat;
  //background-position: right top -13px;
  mask-image: url("../../img/faq-mask.svg");
}

.faq__right-pic {
  left: -502px;
  top: -14px;
  position: relative;
}

.faq__list {
  padding: 0;
  list-style: none;
}

.faq__list-item {
  font-family: $font-firasans;
  width: 560px;
  min-height: 72px;
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);
  position: relative;
  padding-right: 160px;
  box-sizing: border-box;
  margin-top: 24px;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    @include pseudo;
    width: 2px;
    height: 11px;
    background-color: #1FC0FC;
    top: 20px;
  }
  &::before {
    right: 42px;
    transform: rotate(45deg);
  }

  &::after {
    right: 48px;
    transform: rotate(-45deg)
  }

  &--high {
    min-height: 89px;
  }
}

.faq__list-title {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #484848;
}

.faq__list-description {
  width: 480px;
  align-items: baseline;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: rgba(72, 72, 72, 0.74);
}

.faq__list-number {
  display: inline-block;
  margin-right: 16px;
  font-weight: bold;
  font-size: 28px;
  line-height: 170%;
  color: #FFC341;
}

@media #{$desktop} {
  .faq__list-item {

  }
}
