.faq {
  margin-top: 55px;
  padding: 90px 0 0px;
  background-image: url("../../img/faq-bg.jpg"), url("../../img/faq-color_bg.jpg");
  //background-image: url("../../img/faq-color_bg.jpg"), url("../../img/faq-bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 100%, top;
  mask-image: url("../../img/faq-mask.svg");
  mask-repeat: no-repeat;
  mask-position: right;
  //mask-size: cover;
}

.faq .wrapper {
  position: relative;
  overflow: visible;
  padding-bottom: 115px;

  &::after {
    @include pseudo;
    content: url("../../img/faq-bag.png");
    left: -153px;
    bottom: -20px;
  }
}

.faq__title {
  margin: 0;
}

.faq__list {
  margin: 31px 0 0;
  padding: 0;
  list-style: none;
}

.faq__list-item {
  font-family: $font-firasans;
  max-width: 560px;
  min-height: 72px;
  border-bottom: 1px solid rgba(72, 72, 72, 0.2);
  position: relative;
  padding-right: 160px;
  box-sizing: border-box;
  margin-top: 24px;

  &:hover {
    cursor: pointer;
  }

  &::before,
  &::after {
    @include pseudo;
    width: 2px;
    height: 11px;
    background-color: #1FC0FC;
    top: 20px;
  }
  &::before {
    right: 42px;
    transform: rotate(45deg);
  }

  &::after {
    right: 48px;
    transform: rotate(-45deg)
  }

  &--high {
    min-height: 89px;
  }
}

.faq__list-title {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #484848;
}

.faq__list-description {
  width: 480px;
  align-items: baseline;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: $color-black;
  opacity: 0.74;
}

.faq__list-number {
  display: inline-block;
  margin-right: 12px;
  font-weight: bold;
  font-size: 28px;
  line-height: 170%;
  color: #FFC341;
}

@media #{$tablet} {

}
