.footer {
  padding: 10px 0 0;
  border-top: 2px solid rgba(72, 72, 72, 0.2);
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-left: -2px;
}

.footer__copyright {
  font-family: $font-firasans;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: $color-black;
  opacity: 0.5;
  margin-left: 29px;
}

.footer__social {
  margin-right: 2px;
}

.footer__social .social__item {
  margin-right: 16px;
}

@media #{$tablet} {
  .footer .wrapper {
    padding: 0 10px;
  }
}

@media #{$mobile} {
  .footer {
    padding: 34px 0 0;
  }

  .footer .wrapper {
    flex-direction: column;
  }

  .footer__copyright {
    margin-left: 0;
    margin-top: 23px;
  }

  .footer__social {
    margin-right: 0;
    margin-top: 19px
  }

  .footer__social .social__item {
    margin-right: 20px;
  }
}
