.form-input {
  box-sizing: border-box;
  padding: 19px 40px;
  border-radius: 80px;
  border: 2px solid #E3E3E3;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: $color-black;
  opacity: 0.5;
  text-transform: uppercase;

  &:focus {
    color: $color-black;
    opacity: 0.87;
    border: 2px solid $color-yellow;
  }
}

.form input[type="checkbox"] {
  display: none;
}

.form input[type="checkbox"] + label {
  display: block;
  position: relative;
  cursor: pointer;
}

.form input[type="checkbox"] + label::before {
  @include pseudo;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid $color-yellow;
  top: 0;
  left: 0;
}

.form input[type="checkbox"]:checked + label::after {
  @include pseudo;
  background-image: url("../../img/form-checking.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 1px;
  left: 1px;
}
