.mention {
  margin: 80px 0 0;
  padding-bottom: 190px;
  background-image: url("../../img/mention-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mention__container {
  width: 402px;
  margin: 120px 56px 0 auto;
}

.mention__title {
  margin-bottom: 0;
}

.mention__description {
  margin: 22px 0 0 2px;
  width: 390px;
  font-family: $font-firasans;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: #ffffff;
  opacity: 0.87;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.mention__btn {
  position: relative;
  display: block;
  width: 230px;
  margin-top: 51px;
  padding-left: 35px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.02em;

  &::before {
    @include pseudo;
    background-image: url("../../img/social-icon_instagram-3.svg");
    width: 24px;
    height: 24px;
    top: 50%;
    left: 39px;
    transform: translateY(-50%);
  }
}

@media #{$tablet} {
  .mention {
    background-position: center;
    background-size: auto;
  }
}

@media #{$mobile} {
  .mention {
    background-image: url("../../img/mention-bg.jpg");
    background-size: auto 272px;
    background-position: top 45% left -70px;
    padding: 0;
    margin: 0;
  }

  .mention__container {
    margin: 0;
    width: auto;
  }

  .mention__title {
    margin-top: 17px;
    text-align: center;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -0.02em;
  }

  .mention__description {
    width: 85%;
    margin: 96px auto 0;
    font-size: 16px;
    line-height: 160%;
  }

  .mention__btn {
    width: 264px;
    margin: 59px auto 0;

    &::before {
      left: 57px;
    }
  }
}
