.program {
  background-image:  url("../../img/program-bg.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  background-color: #ffffff;
  margin: 50px 0 0;
}