.program {
  padding-top: 102px;
  background-image:  url("../../img/program-bg.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto;
  background-color: #ffffff;
}

.program .wrapper {
  padding: 0 304px 0 210px;
}

.program__container {
  margin-top: 82px;
}
