.promo {
  padding-bottom: 135px;
}

.promo__description {
  width: 363px;
  margin: 453px auto 0;
  font-family: $font-firasans;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

.promo__scrolling {
  margin: 30px auto 0;
  width: 76px;
  height: 132px;

  &:hover {
    opacity: 0.8;
  }
}

.promo__scrolling-link {
  font-size: 0;
}

@media #{$mobile} {
  .promo {
    padding-bottom: 86px;
  }

  .promo__description {
    margin: 272px auto 0;
    width: 288px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}
