.residence {
  
}

.residence__title {
  text-align: center;
}

.residence__subtitle {
  width: 710px;
  margin: 0 auto;
  font-family: $font-firasans;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  text-align: right;
  color: #484848;
  opacity: 0.87;
}
