.residence {

}

.residence .wrapper {
  padding: 30px 110px 64px 104px;
  background-image:  url("../../img/residence-color_bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  background-color: #ffffff;
}

.residence__title {
  text-align: center;
  margin-bottom: 26px;
}

.residence__subtitle {
  width: 710px;
  margin: 0 auto;
  font-family: $font-firasans;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  text-align: right;
  color: rgba(72, 72, 72, 0.87);
  opacity: 0.87;
}
