.reviews {
  padding: 41px 0 0;
  font-family: $font-firasans;
  background-image: url("../img/reviews-color_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.reviews__title {
  text-align: center;
  margin: 0 0 8px -4px;
}

.reviews .wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  overflow: visible;

  &::after {
    @include pseudo;
    background-image: url("../img/reviews-sketch.png");
    width: 535px;
    height: 318px;
    top: 0;
    right: -124px;
  }
}

.reviews__pic-container {
  margin-left: -15px;
}

.reviews__slider {
  display: flex;

  &--hidden {
    display: none;
  }
}

.reviews__item {
  margin-left: 39px;
  max-width: 712px;
  padding-top: 41px;
}

.reviews__person {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: $color-black;
  opacity: 0.74;
  font-style: normal;
}

.reviews__place {
  margin: 8px 0 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: $color-black;
  opacity: 0.74;
}

.reviews__place-title {
  color: $color-blue;
  margin-right: 5px;
}

.reviews__quote {
  margin: 33px 0 0 0;
  padding-right: 35px;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: $color-black;
  opacity: 0.74;

  &--last {
    margin: 21px 0 19px;
  }
}

.reviews__readmore {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: $color-blue;
}

.reviews__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
  width: 100%;
}

.reviews__pagination {
  position: absolute;
  left: 386px;
  bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96px;
}

.reviews__number-pages {
  font-family: $font-firasans;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: $color-black;
  opacity: 0.5;
}

.reviews__switch-pages {
  width: 36px;
  display: flex;
  justify-content: space-between;
}

.reviews__prev-page,
.reviews__next-page {
  display: inline-block;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 2px solid $color-black;
  opacity: 0.2;
  border-top: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.reviews__prev-page{
  border-right: none;
  transform: rotate(45deg);
}

.reviews__next-page{
  border-left: none;
  transform: rotate(-45deg);
}

.reviews__social {
  position: absolute;
  right: 73px;
  bottom: 8px;
  min-width: 104px;
  margin: 0;
}

@media #{$tablet} {
  .reviews__item {
    margin-left: 14px;
    padding-top: 15px;
  }

  .reviews__place {
    font-size: 14px;
    line-height: 160%;
  }

  .reviews__quote {
    font-size: 16px;
    line-height: 160%;
    margin-top: 12px;
  }

  .reviews__readmore {
    font-size: 16px;
    line-height: 150%;
  }
}

@media #{$mobile} {
  .reviews {
    padding: 84px 0 0;
    background-position: left -169px bottom 100px;
    background-size: 560px 234px;
  }

  .reviews__title {
    margin-bottom: 0;
  }

  .reviews .wrapper {
    flex-direction: column;
    padding: 24px 16px 0 16px;

    &::after {
      background-image: url("../img/reviews-sketch-m.png");
      width: 439px;
      height: 261px;
      top: 487px;
      right: -151px;
    }
  }

  .reviews__slider {
    flex-direction: column;
  }

  .reviews__pic-container {
    margin: 0 auto;
  }

  .reviews__item {
    margin: 54px 0 0;
    margin-left: 0;
    padding: 0;
  }

  .reviews__quote {
    padding-right: 0;
    margin: 27px 0 0;
    font-size: 16px;
    line-height: 160%;

    &--last {
      margin: 24px 0 29px;
    }
  }

  .reviews__social {
    position: static;
    margin: 23px 0 0 -4px;
  }

  .reviews__pagination {
    left: calc(50% - 48px);
    bottom: auto;
    top: 353px;
  }

  .reviews__place {
    font-size: 14px;
    line-height: 160%;
  }

  .reviews__place-title {
    display: block;
  }

  .reviews__readmore {
    font-size: 16px;
    line-height: 150%;
  }
}
