.reviews {
  margin-top: 27px;
  font-family: $font-firasans;
  /* background-image: url(../../img/reviews-sketch.png), url(../../img/reviews-color_bg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 105% 20%, center;
  background-size: auto, cover; */
}

.reviews .wrapper {
  padding: 0 198px 0 97px;
  background-image: url(../../img/reviews-sketch.png), url(../../img/reviews-color_bg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: top 2% right, center;
  background-size: auto, cover;
}

.reviews__title {
  text-align: center;
  margin: 0;
}

.reviews__main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.reviews__pic-container {
  width: 364px;
  height: 480px;
  overflow: hidden;
}

.reviews__pic-container img {
  mask-image: url("../../img/reviews-mask.svg");
}

.reviews__data-container {
  width: 62.4%;
  padding-top: 50px;
}

.reviews__person {
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  color: rgba(72, 72, 72, 0.74);
  font-style: normal;
}

.reviews__place {
  margin: 6px 0 32px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: rgba(72, 72, 72, 0.74);
}

.reviews__place-title {
  color: #1FC0FC;
}

.reviews__quote {
  width: 668px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 170%;
  color: rgba(72, 72, 72, 0.74);

  &--last {
    margin: 21px 0 19px;
  }
}

.reviews__readmore {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #1FC0FC;
}

.reviews__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 39px;
}

.reviews__pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96px;
}

.reviews__number-pages {
  font-family: $font-firasans;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #484848;
  opacity: 0.5;
}

.reviews__switch-pages {
  width: 36px;
  display: flex;
  justify-content: space-between;
}

.reviews__prev-page,
.reviews__next-page {
  display: inline-block;
  font-size: 0;
  width: 10px;
  height: 10px;
  border: 2px solid rgba(72, 72, 72, 0.2);
}

.reviews__prev-page{
  border-top: none;
  border-right: none;
  transform: rotate(45deg);
}

.reviews__next-page{
  border-top: none;
  border-left: none;
  transform: rotate(-45deg);
}

.reviews__social {
  width: 104px;
  margin-right: -13px;
}
