.sliders__control {
  display: none;
}

.sliders__btn {
  display: none;
}

.sliders__list {
  width: 100%;
  height: 732px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slider__list-second {
  display: flex;
  width: 56.8%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 33px;
  align-content: space-around;
}

.sliders__item {
  position: relative;
  //flex-shrink: 0;
  overflow: hidden;

  &--big {
    //width: 41.8%;
    height: 732px;
    margin-top: -20px;
  }

  &--middle {
    //width: 61.5%;
    height: 318px;
  }

  &--small {
    //width: 31.6%;
    height: 318px;
  }

  &--small {
    //width: 31.6%;
    height: 318px;
  }
}

.sliders__item-pic {
  max-width: 100%;
}

.sliders__item-text {
  @include pseudo;
  bottom: 30px;
  left: 40px;
  color: #ffffff;
  font-family: $font-raleway;
  width: 250px;
}

@media #{$tablet} {
  .sliders__item-pic {
    overflow: hidden;
  }
}

@media #{$mobile} {
  .sliders__item-pic {
    overflow: hidden;
  }
}

