.sliders__control {
  display: none;
}

.sliders__btn {
  display: none;
}

.sliders__list {
  width: 1152px;
  list-style: none;
  padding: 0;
  margin: 0;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.sliders__item {
  position: relative;
  flex-shrink: 0;
  float: left;
}

.sliders__item-text {
  @include pseudo;
  bottom: 30px;
  left: 40px;
  color: #ffffff;
  font-family: $font-raleway;
  width: 250px;
}

@media #{$tablet} {
  .sliders__item-pic {
    overflow: hidden;
  }
}

@media #{$mobile} {
  .sliders__item-pic {
    overflow: hidden;
  }
}

