.tabs {
  display: flex;
}

.tabs__control {
  width: 228px;
  margin-right: 64px;
  font-family: $font-firasans;
}

.tabs__item-input {
  display: none;
}

#tab-1:checked ~ .tabs__control label[for="tab-1"],
#tab-2:checked ~ .tabs__control label[for="tab-2"],
#tab-3:checked ~ .tabs__control label[for="tab-3"],
#tab-4:checked ~ .tabs__control label[for="tab-4"],
#tab-5:checked ~ .tabs__control label[for="tab-5"] {
  background: linear-gradient(138.15deg, #FFC341 20.46%, #FFD701 65.31%);
  color: #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  font-variant: small-caps;
}

.tabs__item-label {
  cursor: pointer;
  display: block;
  padding: 25px 0 24px 72px;
  position: relative;
  margin-bottom: 5px;
  opacity: 0.87;
  color: #484848;
  font-size: 15px;
  line-height: 18px;

  &::before {
    @include pseudo;
    top: 33px;
    left: 23px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  &:hover {
    color: #FFC341;
  }
}

.tabs__item-label--culture {
  &::before {
    background-image: url("../../img/program-icon_culture-black.png");
    width: 28px;
    height: 33px;
  }

  &:hover {
    &::before {
      background-image: url("../../img/program-icon_culture-yellow.png");
    }
  }
}

.tabs__item-label--business {
  &::before {
    background-image: url("../../img/program-icon_business-black.png");
    width: 36px;
    height: 35px;
  }

  &:hover {
    &::before {
      background-image: url("../../img/program-icon_business-yellow.png");
    }
  }
}

.tabs__item-label--study {
  &::before {
    background-image: url("../../img/program-icon_study-black.png");
    width: 32px;
    height: 25px;
  }

  &:hover {
    &::before {
      background-image: url("../../img/program-icon_study-yellow.png");
    }
  }
}

.tabs__item-label--volonteur {
  &::before {
    background-image: url("../../img/program-icon_volonteur-black.png");
    width: 32px;
    height: 29px;
  }

  &:hover {
    &::before {
      background-image: url("../../img/program-icon_volonteur-yellow.png");
    }
  }
}

.tabs__item-label--religion {
  &::before {
    background-image: url("../../img/program-icon_religion-black.png");
    width: 23px;
    height: 25px;
  }

  &:hover {
    &::before {
      background-image: url("../../img/program-icon_religion-yellow.png");
    }
  }
}

.tabs__control-item {
  display: flex;
}

.tabs__description {
  width: 560px;
  display: none;
  align-self: center;
}

.tabs__description-title {
  font-family: $font-montserrat;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #1FC0FC;
  margin: 18px 0 25px;
}

.tabs__description-text {
  font-family: $font-firasans;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  color: rgba(72, 72, 72, 0.87);
  padding-right: 6px;

  &--mini {
    width: 507px;
    margin: 19px 0 0;
  }
}

.tabs__item-input[id="tab-1"]:checked ~ .tabs__descriptions > #tab-1,
.tabs__item-input[id="tab-2"]:checked ~ .tabs__descriptions > #tab-2,
.tabs__item-input[id="tab-3"]:checked ~ .tabs__descriptions > #tab-3,
.tabs__item-input[id="tab-4"]:checked ~ .tabs__descriptions > #tab-4,
.tabs__item-input[id="tab-5"]:checked ~ .tabs__descriptions > #tab-5 {
  display: block;
}

.tabs__item-input[id="tab-1"]:checked ~ .tabs__control > label[for="tab-1"]::after,
.tabs__item-input[id="tab-2"]:checked ~ .tabs__control > label[for="tab-2"]::after,
.tabs__item-input[id="tab-3"]:checked ~ .tabs__control > label[for="tab-3"]::after,
.tabs__item-input[id="tab-4"]:checked ~ .tabs__control > label[for="tab-4"]::after,
.tabs__item-input[id="tab-5"]:checked ~ .tabs__control > label[for="tab-5"]::after {
  @include pseudo;
    top: 0;
    right: -34px;
    width: 0;
    height: 0;
    border: 34px solid #ffffff;
    border-left-color: #FFD701;
}

.tabs__item-input[id="tab-1"]:checked ~ .tabs__control > label[for="tab-1"]::before {
  background-image: url("../../img/program-icon_culture-white.png");
}

.tabs__item-input[id="tab-2"]:checked ~ .tabs__control > label[for="tab-2"]::before {
  background-image: url("../../img/program-icon_business-white.png");
}

.tabs__item-input[id="tab-3"]:checked ~ .tabs__control > label[for="tab-3"]::before {
  background-image: url("../../img/program-icon_study-white.png");
}

.tabs__item-input[id="tab-4"]:checked ~ .tabs__control > label[for="tab-4"]::before {
  background-image: url("../../img/program-icon_volonteur-white.png");
}

.tabs__item-input[id="tab-5"]:checked ~ .tabs__control > label[for="tab-5"]::before {
  background-image: url("../../img/program-icon_religion-white.png");
}
