.tabs {
  display: flex;
}

.tabs__control {
  width: 228px;
  margin-right: 64px;
  font-family: $font-firasans;
}

.tabs__item-input {
  display: none;
}

#tab-1:checked ~ .tabs__control label[for="tab-1"],
#tab-2:checked ~ .tabs__control label[for="tab-2"],
#tab-3:checked ~ .tabs__control label[for="tab-3"],
#tab-4:checked ~ .tabs__control label[for="tab-4"],
#tab-5:checked ~ .tabs__control label[for="tab-5"] {
  background: $gradient;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.tabs__item-label {
  width: 194px;
  position: relative;
  display: block;
  padding: 25px 0 24px 72px;
  margin-bottom: 5px;
  opacity: 0.87;
  color: $color-black;
  font-size: 15px;
  line-height: 18px;
  box-sizing: border-box;
  cursor: pointer;

  &::before {
    @include pseudo;
    top: 33px;
    left: 22px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  &:hover {
    color: #FFC341;
  }
}

.tabs__item-label--culture {
  &::before {
    background-image: url("../img/program-icon_culture-black.png");
    width: 28px;
    height: 33px;
  }

  &:hover {
    &::before {
      background-image: url("../img/program-icon_culture-yellow.png");
    }
  }
}

.tabs__item-label--business {
  &::before {
    background-image: url("../img/program-icon_business-black.png");
    width: 36px;
    height: 35px;
  }

  &:hover {
    &::before {
      background-image: url("../img/program-icon_business-yellow.png");
    }
  }
}

.tabs__item-label--study {
  &::before {
    background-image: url("../img/program-icon_study-black.png");
    width: 32px;
    height: 25px;
  }

  &:hover {
    &::before {
      background-image: url("../img/program-icon_study-yellow.png");
    }
  }
}

.tabs__item-label--volonteur {
  &::before {
    background-image: url("../img/program-icon_volonteur-black.png");
    width: 32px;
    height: 29px;
  }

  &:hover {
    &::before {
      background-image: url("../img/program-icon_volonteur-yellow.png");
    }
  }
}

.tabs__item-label--religion {
  &::before {
    background-image: url("../img/program-icon_religion-black.png");
    width: 23px;
    height: 25px;
  }

  &:hover {
    &::before {
      background-image: url("../img/program-icon_religion-yellow.png");
    }
  }
}

.tabs__control-item {
  display: flex;
}

.tabs__descriptions {
  width: 53.6%;
}

.tabs__description {
  display: none;
  align-self: center;
}

.tabs__description-title {
  @include h3;
  margin: 18px 0 25px;
}

.tabs__description-text {
  font-family: $font-firasans;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  color: $color-black;
  opacity: 0.87;
  padding-right: 6px;

  &--mini {
    width: 90.7%;
    margin: 19px 0 0;
  }
}

.tabs__item-input[id="tab-1"]:checked ~ .tabs__descriptions > #tab-1,
.tabs__item-input[id="tab-2"]:checked ~ .tabs__descriptions > #tab-2,
.tabs__item-input[id="tab-3"]:checked ~ .tabs__descriptions > #tab-3,
.tabs__item-input[id="tab-4"]:checked ~ .tabs__descriptions > #tab-4,
.tabs__item-input[id="tab-5"]:checked ~ .tabs__descriptions > #tab-5 {
  display: block;
}

.tabs__item-input[id="tab-1"]:checked ~ .tabs__control > label[for="tab-1"]::after,
.tabs__item-input[id="tab-2"]:checked ~ .tabs__control > label[for="tab-2"]::after,
.tabs__item-input[id="tab-3"]:checked ~ .tabs__control > label[for="tab-3"]::after,
.tabs__item-input[id="tab-4"]:checked ~ .tabs__control > label[for="tab-4"]::after,
.tabs__item-input[id="tab-5"]:checked ~ .tabs__control > label[for="tab-5"]::after {
  @include pseudo;
    top: 0;
    right: -34px;
    width: 0;
    height: 0;
    border: 34px solid transparent;
    border-left-color: #FFD701;
    border-right: 0;
}

.tabs__item-input[id="tab-1"]:checked ~ .tabs__control > label[for="tab-1"]::before {
  background-image: url("../img/program-icon_culture-white.png");
}

.tabs__item-input[id="tab-2"]:checked ~ .tabs__control > label[for="tab-2"]::before {
  background-image: url("../img/program-icon_business-white.png");
}

.tabs__item-input[id="tab-3"]:checked ~ .tabs__control > label[for="tab-3"]::before {
  background-image: url("../img/program-icon_study-white.png");
}

.tabs__item-input[id="tab-4"]:checked ~ .tabs__control > label[for="tab-4"]::before {
  background-image: url("../img/program-icon_volonteur-white.png");
}

.tabs__item-input[id="tab-5"]:checked ~ .tabs__control > label[for="tab-5"]::before {
  background-image: url("../img/program-icon_religion-white.png");
}

@media #{$tablet} {
  .tabs__description-title {
    font-size: 24px;
    line-height: 29px;
  }
}

@media #{$mobile} {
  .tabs__control {
    margin: 0 auto;
    width: auto;
    display: flex;
    align-content: center;
    transform: translateX(-43px);
  }

  .tabs__item-label {
    width: auto;
    min-height: 48px;
    margin: 0 0 0;
    padding: 15px 12px 14px 52px;
    border-radius: 60px;
    opacity: 0.4;

    &::before {
      width: 32px;
      height: 32px;
      top: 23px;
      left: 15px;
    }
  }

  .tabs__item-input[id="tab-1"]:checked ~ .tabs__control > label[for="tab-1"]::after,
  .tabs__item-input[id="tab-2"]:checked ~ .tabs__control > label[for="tab-2"]::after,
  .tabs__item-input[id="tab-3"]:checked ~ .tabs__control > label[for="tab-3"]::after,
  .tabs__item-input[id="tab-4"]:checked ~ .tabs__control > label[for="tab-4"]::after,
  .tabs__item-input[id="tab-5"]:checked ~ .tabs__control > label[for="tab-5"]::after {
    border: none;
  }

  .tabs__descriptions {
    width: 100%;
  }

  .tabs__description {
    width: auto;
    padding: 0 5%;
  }

  .tabs__description-title {
    font-size: 24px;
    line-height: 29px;
    margin: 32px 0 0 0;
  }

  .tabs__description-text {
    font-size: 14px;
    line-height: 160%;

    &--mini {
      width: auto;
      padding-right: 0;
    }
  }

  .tabs__item-label:nth-child(4),
  .tabs__item-label:nth-child(5) {
    display: none;
  }
}
