.way {
  padding: 156px 0 303px;
  background-image: url("../img/way-color_bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
}

.way .wrapper {
  position: relative;
  display: flex;
  overflow: visible;

  &::after {
    @include pseudo;
    background-image: url("../img/way-stamp.png");
    width: 337px;
    height: 254px;
    top: 212px;
    right: -232px;
  }
}

.way__left {
  width: 581px;
  height: 707px;
  transform: translateX(-100px);
}

.way__right {
  width: 48.3%;
  margin-left: 6px;
  font-family: $font-firasans;
  color: $color-black;
}

.way__title {
  margin-bottom: 0;
}

.way__description {
  margin-top: 25px;
  padding-right: 13%;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: $color-black;
  opacity: 0.87;
}

.way__important {
  margin-top: 34px;
  display: block;
  padding-right: 16.7%;
  font-size: 17px;
  line-height: 170%;
  font-weight: 500;
}

.way__list {
  position: relative;
  padding-left: 0;
  padding-right: 17%;
  margin-top: 26px;

  &::before {
    @include pseudo;
    width: 2px;
    height: 229px;
    background-image:url("../img/way-vector.png");
    left: 2px;
    top: 37px;
  }
}

.way__item {
  box-sizing: border-box;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  min-height: 36px;
  font-size: 15px;
  line-height: 140%;
  color: $color-black;
  opacity: 0.87;
}

.way__item-number {
  position: relative;
  margin-right: 35px;
  display: block;
  color: $color-yellow;
  font-weight: 700;
  font-size: 17px;
  z-index: 1;

  &::before {
    @include pseudo;
    z-index: -1;
    margin-right: 24px;
    width: 36px;
    height: 36px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50%;
    left: -14px;
    top: -8px;
  }
}

.way__note {
  margin-top: 48px;
  font-size: 15px;
  line-height: 140%;
  margin-left: 15px;
  color: $color-black;
  opacity: 0.5;
  position: relative;

  &::before {
    @include pseudo;
    width: 4px;
    height: 100%;
    background: $gradient;
    top: 0;
    left: -15px;
  }
}

@media #{$tablet} {
  .way {
    padding: 20px 0 50px;
    background: none;
  }

  .way .wrapper {

    &::after {
      right: -150px;
    }
  }

    .way__left {
    display: none;
  }

  .way__right {
    width: 100%;
  }

  .way__title {
    text-align: center;
  }

  .way__list {
    padding-left: 20px;

    &::before {
      left: 22px;
      top: 0;
    }
  }

  .way__description,
  .way__important {
    padding: 0 2%;
    text-align: center;
  }

  .way__note {
    padding-right: 10%;
  }
}

@media #{$mobile} {
  .way {
    padding: 55px 0 0;
    background: none;
  }

  .way .wrapper {

    &::after {
      background-image: url("../img/way-stamp-m.png");
      width: 264px;
      height: 199px;
      top: 300px;
      right: -48px;
    }
  }

  .way__left {
    display: none;
  }

  .way__right {
    width: 100%;
    font-size: 14px;
    margin: 0 16px;
  }

  .way__title {
    text-align: center;
  }

  .way__list {
    padding-right: 0;

    &::before {
      height: calc(100% - 55px);
      left: 9px;
    }
  }

  .way__important {
    font-size: 16px;
    line-height: 160%;
    padding-right: 0;
    margin-top: 24px;
  }

  .way__description,
  .way__item,
  .way__note {
    font-size: 14px;
    line-height: 160%;
  }

  .way__description {
    padding-right: 5px;
  }

  .way__note {
    margin-top: 25px;
    margin-left: 8px;
  }

  .way__item {
    padding-left: 6px;

    &:first-child {
      margin-bottom: 53px;
    }

    &:nth-child(3) {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .way__item-number {
    margin-right: 30px;
  }

}
