.way {
  padding: 153px 0 0;
  background-image: url("../../img/way-stamp.png"), url("../../img/way-color_bg.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: top 366px right, center bottom;
  background-size: auto, auto;
}

.way .wrapper {
  display: flex;
  overflow: visible;
}

.way__left {
  width: 581px; // 50.8%
  height: 707px;
  transform: translateX(-100px);
  mask-image: url("../../img/way-mask.svg");
}

.way__left-pic {
  position: relative;
  left: -11px;
  top: -189px;
}

.way__right {
  width: 536px;//46.9%
  margin-left: 6px;
  font-family: $font-firasans;
  color: #484848;
}

.way__title {
  margin-bottom: 0;
}

.way__description {
  margin-top: 25px;
  width: 480px;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: rgba(72, 72, 72, 0.87);
}

.way__important {
  margin-top: 34px;
  display: block;
  width: 460px;
  font-size: 17px;
  line-height: 170%;
  font-weight: 500;
}

.way__list {
  width: 480px;
  padding: 0;
  margin-top: 26px;
}

.way__item {
  box-sizing: border-box;
  width: 451px;
  margin-bottom: 38px;
  display: flex;
  align-items: center;
  min-height: 36px;
  font-size: 15px;
  line-height: 140%;
  color: $color-black;
  opacity: 0.87;
}

.way__item-number {
  position: relative;
  margin-right: 35px;
  display: block;
  color: #FFC341;
  font-weight: 700;
  font-size: 17px;
  z-index: 1;

  &::before {
    @include pseudo;
    z-index: -1;
    margin-right: 24px;
    width: 36px;
    height: 36px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50%;
    left: -14px;
    top: -8px;
  }
}

.way__note {
  margin-top: 48px;
  width: 520px;
  height: 42px;
  font-size: 15px;
  line-height: 140%;
  margin-left: 15px;
  color: rgba(72, 72, 72, 0.5);
  position: relative;

  &::before {
    @include pseudo;
    width: 4px;
    height: 42px;
    background: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
    top: 0;
    left: -15px;
  }
}

@media #{$tablet} {

}
