html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.wrapper {
  max-width: 1142px;
  margin: 0 auto;
  overflow: hidden;
}

.main-container {
  background-image:  url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;

  @media #{$mobile} {
    background-image: url("../img/promo-bg-m.jpg");
    background-position: center top 32px;
  }
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #EBEBEB;
  opacity: 0.95;
  z-index: 2;
}

.scroll-hidden {
  overflow: hidden;
}
