.wrapper {
  width: 1024px;
  margin: 0 auto;
  padding: 0 5%;
  box-sizing: border-box;

  @media #{$tablet} {
    width: 768px;
    padding: 0 20px;
  }

  @media #{$mobile} {
    width: 320px;
    padding: 0 16px;
  }
}

.main-container {
  background-image:  url("../img/promo-photo.png"), url("../img/promo-bg_overlay.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center 70%, center;
  background-size: auto, cover;
  background-color: #ce9b9b;
}