$desktop: '(min-width: 1024px)';
$tablet: '(min-width: 768px) and (max-width: 1023px)';
$mobile: '(min-width: 320px) and (max-width: 767px)';
$font-firasans: 'FiraSans', 'Arial', sans-serif;
$font-firasans2: 'FiraSans2', 'Arial', sans-serif;
$font-montserrat: 'Montserrat', 'Arial', sans-serif;
$font-raleway: 'Raleway', 'Arial', sans-serif;
$color-black: #484848;
$color-blue: #1FC0FC;
$color-yellow: #FFC341;
$gradient: linear-gradient(108.42deg, #FFC341 20.46%, #FFD701 65.31%);
